@charset "utf-8";

:root{
    /* ---------- カスタムプロパティ(カラー設定ほか) ---------- */
    --white: hsl(0 0% 100%);
    --black: hsl(0 0% 0%);
    --text: hsl(0 0% 20%);
    --orange: hsl(35, 100%, 50%);
    --light-ash: hsl(0 0% 78%);

    /* --- テキスト --- */
    --regular: 400;
    --semibold: 600;
    --bold: 700;
    --exbold: 900;
}

/* ブラウザの余白除去 */
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
    padding: 0;
}

/* リストのデフォルトスタイル削除 */
ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* 共通 */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    background: var(--white);
    color: var(--text);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a,
a:link,
a:visited{
    color: var(--orange);
    transition: opacity 0.25s;
}

a:hover{
    opacity: 0.5;
}

p{
    margin-bottom: 1rem;
    font-weight: normal;
}

address{
    font-style: normal;
}

/* スマホ版 */
/* ヘッダー */
.site-header {
    position:sticky;
    top:0;
    z-index: 100;
    background: var(--white);
    box-shadow: 0 1px 4px rgba(0 0 0 / 8%);
}
.site-header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.site-header__login-status {
    margin: 0 0 0 auto;
}

.site-header__title{
    width: 8rem;
}

.site-header__link {
    display: block;
    width: 8rem;
}

.site-header__link img {
    width: 8rem;
}

.site-header__login-status {
    margin-left: auto;
}

.site-header__sub {
    background: var(--dark-green);
    border-top: 1px solid var(--light-ash);
    border-bottom: 1px solid var(--light-ash);
}

/* グローバルナビゲーション */
.global-nav {
    margin-left:2rem;
}

.global-nav__list {
    display: flex;
    flex-wrap: wrap;
    border-left:1px solid var(--light-ash);
}

.global-nav__item {
    border-right:1px solid var(--light-ash);
}

.global-nav__link {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

/* admin・author用ナビゲーション */
.admin-nav, 
.mypage-nav {
    background: var(--ash);
    border-top: 0.125rem solid var(--text);
}

.admin-nav__list,
.mypage-nav__list {
    display: flex;
    margin-left: 2rem;
    padding: 0;
    border-left:1px solid var(--light-ash);
}

.admin-nav__item,
.mypage-nav__item {
    border-right:1px solid var(--light-ash);
}

.admin-nav__link,
.mypage-nav__link {
    display: block;
    padding: 0.75rem 1rem;
    color: var(--white) !important;
    text-decoration: none !important;
}

/* メインコンテンツ */
main {
    width: 90%;
    margin: 2rem auto;
}

/* ヒーロー */
.hero {
    background-color: var(--black);
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    box-sizing: border-box;
}