@charset "utf-8";

:root{
    /* ---------- カスタムプロパティ(カラー設定ほか) ---------- */
    --white-color: rgba(255 255 255 / 100%);
    --black-color: rgba(0 0 0 / 100%);
    --text-color: rgba(51 51 51 / 100%);
    --orange-color: hsl(35 75% 50% / 100%);
    --ash-color: hsl(230 0% 25% / 100%);
    --light-ash-color: rgba(200 200 200 / 100%);

    /* --- テキスト --- */
    --regular: 400;
    --semibold: 600;
    --bold: 700;
    --exbold: 900;
}

/* ブラウザの余白除去 */
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
    padding: 0;
}

/* リストのデフォルトスタイル削除 */
ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* 共通 */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--white-color);
    color: var(--text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a,
a:link,
a:visited{
    color: var(--orange-color);
    transition: opacity 0.25s;
}

a:hover{
    opacity: 0.5;
}

p{
    margin-bottom: 1rem;
    font-weight: normal;
}

address{
    font-style: normal;
}

/* スマホ版 */
/* ヘッダー */
.site-header {
    position:sticky;
    top:0;
    z-index: 100;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px rgba(0 0 0 / 8%);
}
.site-header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.site-header__login-status {
    margin: 0 0 0 auto;
}

.site-header__title{
    width: 8rem;
}

.site-header__link {
    display: block;
    width: 8rem;
}

.site-header__link img {
    width: 8rem;
}

.site-header__login-status {
    margin-left: auto;
}

.site-header__bottom {
    background-color: var(--dark-green-color);
    border-top: 0.25rem solid var(--green-color);
}

/* グローバルナビゲーション */
.global-nav {
    margin-left:2rem;
}

.global-nav__list {
    display: flex;
    flex-wrap: wrap;
    border-left:1px solid var(--light-ash-color);
}

.global-nav__item {
    border-right:1px solid var(--light-ash-color);
}

.global-nav__link {
    display: block;
    padding: 0.75rem 1rem;
    color: var(--white-color) !important;
    text-decoration: none !important;
}

/* admin・author用ナビゲーション */
.admin-nav, 
.mypage-nav {
    background-color: var(--ash-color);
    border-top: 0.125rem solid var(--text-color);
}

.admin-nav__list,
.mypage-nav__list {
    display: flex;
    margin-left: 2rem;
    padding: 0;
    border-left:1px solid var(--light-ash-color);
}

.admin-nav__item,
.mypage-nav__item {
    border-right:1px solid var(--light-ash-color);
}

.admin-nav__link,
.mypage-nav__link {
    display: block;
    padding: 0.75rem 1rem;
    color: var(--white-color) !important;
    text-decoration: none !important;
}

/* メインコンテンツ */
main {
    width: 90%;
    margin: 2rem auto;
}