@charset "utf-8";

:root{
    /* ---------- カスタムプロパティ(カラー設定ほか) ---------- */
    --white-color: rgba(255 255 255 / 100%);
    --text-color: rgba(51 51 51 / 100%);
    --ash-color: rgba(100 100 100 / 100%);
    --light-ash-color: rgba(200 200 200 / 100%);
    --green-color: rgba(173 216 74 / 100%);

    /* --- テキスト --- */
    --regular: 400;
    --semibold: 600;
    --bold: 700;
    --exbold: 900;
}

/* ブラウザの余白除去 */
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6,
p,
ul, ol {
    margin: 0;
    padding: 0;
}

/* リストのデフォルトスタイル削除 */
ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* 共通 */
html{
    font-size: 16px;
    scroll-behavior: smooth;
    background-color: var(--white-color);
    color: var(--text-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a,
a:link,
a:visited{
    color: var(--text-color);
    text-decoration-line: underline;
    text-decoration-color: var(--green-color);
    text-decoration-thickness: 0.125rem;
    transition: text-decoration-color 0.25s;
}

a:hover{
    text-decoration-color: transparent;
}

p{
    margin-bottom: 1rem;
    font-weight: normal;
}

address{
    font-style: normal;
}

/* スマホ版 */
.site-header__title{
    margin: 1rem;
    width: 8rem;
}
.global-nav{
    background-color: var(--ash-color);
    border-top: 0.25rem solid var(--green-color);
}

.global-nav__list{
    display: flex;
    flex-wrap: wrap;
}

.global-nav__item{
    padding: 0.75rem 1rem;
    border-right:1px solid var(--light-ash-color);
}

.global-nav__link{
    color: var(--white-color) !important;
    text-decoration: none !important;
}

.site-header__link {
    display: block;
    width: 8rem;
}

.site-header__link img{
    width: 8rem;
}